body {
    margin: 0;
    font-family: 'Crimson Text', serif;
}

/* Home Page Products */

h1 {
    font-size: 4em;
    padding: 0.5em 1.3em 0em 1.3em;
}

.headerimg {
    width: 100vw;
}

.cart-image {
    width: 27px;
}

.section-main {
    padding: 1em 3em;
}

.section-text {
    padding: 1em 6em;
}

.product-heading {
    padding: 1em 1em 0.5em 4em;
}

.main-section-wrap {
    display: flex;
    justify-content: center;
    background-color: #bee3db;
}

.section-wrap {
    height: 45vh;
    padding: 1em;
}

.product-button {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.margin-space {
    padding-bottom: 7em;
}

.footer {
    position: fixed; 
    bottom:0;
    left:0;
    width:100%;
    height: 60px;
    text-align: center;
    background-color: #bee3db;    
}


/* Contact Page */

.contact-body {
    background-color:#bee3db;;
}

.contact-header {
    text-align: center;
}


.contact-span {
    width: 90%;
    padding: 5% 10% 10% 20%;
}

.input-form {
    width: 100%;
    margin: auto;
    padding: 0.2em;
}

/* Shop Page */

.product-container {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    padding: 1em;
}

.product-img {
    height: 40vh;
}

.product-img-p {
    
    width: 29vw;
    height: 40vh;
}

.product-button {
    text-align: center;
}

.shop-title {
    text-align: center;
}

figure:hover {
    box-shadow: 10px 5px 5px #bee3db;

}

figcaption:hover {
    color: blue;
    cursor: pointer;
}

.product-img:hover {
    cursor: pointer;
}

.product-img-p:hover {
    cursor: pointer;
}

/* Mobile Screens */

@media screen and (max-width: 650px) {
    /* Home Page */
    h1 {
        font-size: 3em;
        text-align: center;
    }

    .section-main {
        font-size: 1.6em;
        text-align: center;
    }

    .main-section-wrap {
        padding-left: 4em;
    }

  @media screen and (max-width: 800px) {
    
    .section-wrap {
        height: 45vh;
        
    }

    .section-wrap-2 {
        width: 82vw;      
    }

  }
    

    /* Shop Page */
    
    .shop-main-title {
        font-size: 2em;
        text-align: center;
    }

    .shop-title {
       font-size: 1.5em; 
    }

    .product-container {
        display: inline;
        text-align: center;
        padding: 1em;
    }

    .product-img {
        height: 40vh;
    }

    .product-img-p {
        height: 40vh;
        width: 60vh;  
    }

}

/* Tablet Screens */

@media screen and (min-width: 650px) and (max-width: 1100px) {
    .shop-main-title {
        font-size: 2em;
        text-align: center;
    }

    .shop-title {
       font-size: 1.5em; 
    }

    .product-container {
        display: inline;
        text-align: center;
        padding: 1em;   
    }

    .product-img {
        height: 55vh;
    }

    .product-img-p {
        height: 60vh; 
        width: 90vh;     
    }

    figure {
        margin-bottom: 4em;
    }

    /* Home Page */
   
    .section-wrap {
        height: 60vh;
        margin-left: 12em;
        
    }

    .section-wrap-2 {
        width: 55vw;       
    }
}

@media screen and (max-width: 1500px) {
    .product-img-p {
        height: 40vh;
        width: 60vh;  
    }
}
