body {
    margin: 0;
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 4em;
    padding: 0.5em 1.3em 0em 1.3em;
}

.headerimg {
    width: 100vw;
}

.cart-image {
    width: 27px;
}

.section-main {
    padding: 1em 3em;
}

.section-text {
    padding: 1em 6em;
}

.product-heading {
    padding: 1em 1em 0.5em 4em;
}


/* Home Page Products */

.main-section-wrap {
    display: flex;
    justify-content: center;
    background-color: #bee3db;
}

.section-wrap {
    height: 47vh;
    padding: 1em;
}

.product-button {
    padding-top: 1.5em;
    padding-bottom: 2em;
}


/* Contact Page */

.contact-header {
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-span {
    display: flex;
    display: inline-block;
}

.form-email {
    margin: 1em 0;
    padding-right: 10em;
}

.comment-form {
    padding-right: 1em;
}


/* Shop Page */

.product-container {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    padding: 1em;
}

.product-img {
    height: 40vh;
}

.product-img-p {
    height: 40vh;
    width: 60vh;
}

.shop-title {
    text-align: center;
}

figcaption:hover {
    color: blue;
    cursor: pointer;
}

/* Mobile Screens */

@media screen and (max-width: 650px) {
    .shop-main-title {
        font-size: 2em;
        text-align: center;
    }

    .shop-title {
       font-size: 1.5em; 
    }

    .product-container {
        display: inline;
        text-align: center;
        padding: 1em;
    }

    .product-img {
        height: 40vh;
    }

    .product-img-p {
        height: 40vh;   
        
    }

}

/* Tablet Screens */

@media screen and (min-width: 650px) and (max-width: 1100px) {
    .shop-main-title {
        font-size: 2em;
        text-align: center;
    }

    .shop-title {
       font-size: 1.5em; 
    }

    .product-container {
        display: inline;
        text-align: center;
        padding: 1em;
      
        
    }

    .product-img {
        height: 60vh;
    }

    .product-img-p {
        height: 60vh; 
        width: 90vh;  
        
    }

    figure {
        margin-bottom: 4em;
    }


}